nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  position: relative;
  color: var(--text-primary);
  font-size: var(--text-md);
  font-weight: var(--font-medium);
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  height: 2px;
  width: 0;
  background-color: var(--color-primary);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: var(--color-primary);
  transition: 0.3s;
}

.nav-link.active::after {
  width: 100%;
}

.active {
  color: var(--color-primary);
}
